<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="css/styles.css"></link>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<style type="text/css">
.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


</style>
</head>
<body>
<body>
	<!-- Navigation -->
	<nav class="w3-bar w3-black">
		<a href="/home" class="w3-button w3-bar-item">Home</a> <a
			href="/index" class="w3-button w3-bar-item">Login</a> <a
			href="/register" class="w3-button w3-bar-item">Signup</a> <a
			href="#contact" class="w3-button w3-bar-item">Contact</a>
	</nav>

	<!-- Slide Show -->
	<section>
	<div class="container">
  
		<img class="mySlides" src="images//img_band_la.jpg"	style="width: 100%"> 
		<img class="mySlides" src="images//img_band_ny.jpg" style="width: 100%"> 
		<img class="mySlides" src="images//img_band_chicago.jpg" style="width: 100%">
		<img class="mySlides" src="images//image_bridge.jpg" style="width: 100%">
		<img class="mySlides" src="images//img_fjords.jpg" style="width: 100%">
  <div class="bottom-left">Bottom Left</div>
  <div class="top-left">Top Left</div>
  <div class="top-right">Top Right</div>
  <div class="bottom-right">Bottom Right</div>
  <div class="centered">
  <table border="1" >
		<thead>
			<tr>
				<th>Employee No</th>
				<th>Employee Name</th>
				<th>Employee Address</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="employee: ${emplist}">
				<td th:text="${employee.empId}"></td>
				<td th:text="${employee.name}"></td>
				<td th:text="${employee.address}"></td>
			</tr>
		</tbody>
	</table>
  </div>
</div>
	</section>

	<script>
		// Automatic Slideshow - change image every 3 seconds
		var myIndex = 0;
		carousel();

		function carousel() {
			var i;
			var x = document.getElementsByClassName("mySlides");
			for (i = 0; i < x.length; i++) {
				x[i].style.display = "none";
			}
			myIndex++;
			if (myIndex > x.length) {
				myIndex = 1
			}
			x[myIndex - 1].style.display = "block";
			setTimeout(carousel, 2000);
		}
	</script>


</body>
</body>
</html>